body,
html,
h1,
h2,
h3,
h4,
h5,
input {
  margin: 0;
  padding: 0;
}
a {
  outline: none;
  color: inherit;
  text-decoration: none;
}
input {
  outline: none;
  background-color: transparent;
  border: none;
}
dfn {
  font-style: normal;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.errorPage {
  font-size: 15px;
  text-align: center;
}
.errorPage .error {
  text-align: center;
  margin: 20px auto;
  font-size: 30px;
}
.errorPage a {
  color: blue;
}
.navBox {
  width: 100%;
  height: 50px;
  background-color: #444444;
}
.navBox .navContainer {
  margin: 0 40px;
  min-width: 375px;
  height: 100%;
  line-height: 50px;
  vertical-align: middle;
}
.navBox .navContainer img {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
.navBox .navContainer .searchInp {
  display: inline-block;
  height: 26px;
  width: 230px;
  background-color: #888888;
  border-radius: 13px;
  text-indent: 5px;
  transition: 0.5s;
  line-height: 26px;
  font-size: 18px;
  color: #000;
  box-sizing: border-box;
  padding: 0 10px;
}
.navBox .navContainer .searchInp.active {
  background-color: #fff;
}
.mainContainer {
  background-color: #e1e1e1;
  padding: 15px 0 ;
  min-width: 1080px;
}
.main {
  width: 90%;
  min-width: 980px;
  margin: 0 auto;
}
.main .HomeList {
  float: left;
  width: 655px;
  margin-right: 15px;
}
.main .HomeList .HomeListHeader {
  background-color: #f6f6f6;
  border-radius: 5px 5px 0 0 ;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 10px;
  line-height: 20px;
}
.main .Adv {
  float: left;
  width: 290px;
  background-color: darkcyan;
  height: 500px;
}
.HomeListHeaderA {
  width: 35px;
  height: 25px;
  color: #80bd01;
  border-radius: 5px;
  padding: 3px 3px;
  margin: 0 10px;
  font-size: 14px;
}
.HomeListHeaderA.active {
  background-color: #80bd01;
  color: #fff;
}
.HomeListContent {
  background-color: #fff;
  min-height: 500px;
}
.HomeListContent .ListItem {
  border-bottom: 1px solid #f0f0f0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  padding-right: 10px;
}
.HomeListContent .ListItem .listNum {
  display: inline-block;
  float: left;
  vertical-align: top;
  line-height: 50px;
  text-align: center;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  height: 50px;
}
.HomeListContent .ListItem .listNum span {
  float: none;
}
.HomeListContent .ListItem img {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  border: none;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}
.HomeListContent .ListItem span {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  vertical-align: top;
  float: left;
  cursor: default;
}
.HomeListContent .ListItem .click {
  color: #b4b4b4;
  margin-right: 12px;
}
.HomeListContent .ListItem .title {
  font-size: 16px;
  font-family: "微软雅黑";
  max-width: 360px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.HomeListContent .ListItem .time {
  float: right;
  color: #b4b4b4;
}
